#project01 {
    background-color: #e65154;
}

#project02 {
    background-color: #e85e34;
}

#project03 {
    background-color: #69d9f4;
}

#project04 {
    background-color: #ffffff;
    color: #000;
}

#project05 {
    background-color: #acd03a;
}